<div *ngFor="let profe of professors | async">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/icons/user.svg" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">{{ profe?.name?.toLowerCase() }}</ion-card-title>
        <ion-card-subtitle class="ion-text-capitalize">Facultad de {{ profe?.faculty }}</ion-card-subtitle>
      </ion-card-header>


      <ion-button
        (click)="redirectEditor(profe)"
        size="detault" slot="end" fill="clear"
        color="medium">
        <ion-icon [name]="'create-sharp'" size="large" color="dark"></ion-icon>
      </ion-button>

      <ion-button
        (click)="updateVisibility(profe)"
        size="detault" slot="end" fill="clear"
        color="medium">
        <ion-icon [name]="profe.isVisible ? 'eye-sharp': 'eye-off-sharp'" size="large" color="dark"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-card>
</div>
