
<ion-content>
  <ion-grid fixed="true" class="ion-no-padding" *ngIf="currentProfe && currentDetailProfe">
    <form [formGroup]="profeForm" (ngSubmit)="submitNewProfessor()">

      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <!-- Header of form -->
          <ion-row>
            <ion-col size="1">
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-back-button defaultHref="home/search/professor" color="primary"></ion-back-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
            <ion-col size="10">
              <h1 class="ion-text-center">Editar docente</h1>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

          <!-- First set of inputs -->
          <ion-row>
            <ion-col size="12">
              <h2 class="ion-text-center">Informacion general</h2>
            </ion-col>

            <ion-col size="6" class="ion-padding">
                <ion-input
                    name="professorName"
                    formControlName="name"
                    label="Nombres completos:"
                    placeholder="Nombres y apellidos"
                    fill="outline"
                    label-placement="floating"
                required>
              </ion-input>
            </ion-col>
            <ion-col size="6" class="center-item ion-padding">
              <ion-item>
                <ion-toggle
                  mode="ios"
                  formControlName="visible">
                  Visible:
                </ion-toggle>
              </ion-item>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-item>
                <ion-select
                  formControlName="campus"
                  (ionChange)="onSelectCamp($event)"
                  label="Campus:"
                  label-placement="floating"
                  interface="popover" placeholder="Seleccione el campus" [value]="currentProfe.campus">
                  <ion-select-option [value]="camp.name" *ngFor="let camp of campusList | async">
                    Campus {{ camp.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-padding">
              <ion-item>
                <ion-select
                  formControlName="faculty"
                  *ngIf="!currentProfe.faculty; else faculties"
                  label="Facultad:" label-placement="floating"
                  interface="popover"
                  placeholder="Primero, seleccione un campus">
                  <ion-select-option value="">Sin facultad</ion-select-option>
                </ion-select>
                <ng-template #faculties>
                  <ion-select
                    formControlName="faculty"
                    label="Facultad:"
                    label-placement="floating" interface="popover"
                    placeholder="Seleccione la facultad">
                    <ion-select-option
                      *ngFor="let facu of facultyList | async"
                      [value]="facu.name">
                      Facultad de {{ facu.name }}
                    </ion-select-option>
                  </ion-select>
                </ng-template>
              </ion-item>
            </ion-col>

            <ion-col size="12" class="ion-padding">
              <ion-item>
                <ion-select
                  formControlName="department"
                  label="Departamento:" label-placement="floating"
                  interface="popover"
                  placeholder="Seleccione el departamento al que pertenece el docente.">
                  <ion-select-option value="CIENCIAS DE LA INFORMACIÓN Y DOCUMENTACIÓN">CIENCIAS DE LA INFORMACIÓN Y DOCUMENTACIÓN</ion-select-option>
                  <ion-select-option value="CIENCIAS JURIDICAS">CIENCIAS JURIDICAS</ion-select-option>
                  <ion-select-option value="CIENCIAS SOCIALES Y DEL COMPORTAMIENTO">CIENCIAS SOCIALES Y DEL COMPORTAMIENTO</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Second set about especifications inputs -->
          <ion-row class="ion-padding">
            <ion-col size="12">
              <h2 class="ion-text-center">Informacion especifica</h2>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="email"
                label="Correo institucional:"
                label-placement="floating" fill="outline"
                placeholder="example.last@utm.edu.ec" type="email">
              </ion-input>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="office"
                label="Oficina:"
                label-placement="floating" fill="outline"
                placeholder="Ingrese el codigo de la oficina. Ej: 101, 205, etc." type="text">
              </ion-input>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="category"
                label="Categoria:"
                label-placement="floating" fill="outline" placeholder="Auxiliar">
              </ion-input>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="dedication"
                label="Dedicacion:"
                label-placement="floating" fill="outline" placeholder="Tiempo completo">
              </ion-input>
            </ion-col>

          
            <ion-col size="12">
              <ion-item>
                <ion-label>Horarios de atencion:</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="firstSchedule"
                label="Primer jornada:"
                label-placement="floating" fill="outline"
                placeholder="8h:00 - 12h00">
              </ion-input>
            </ion-col>
            <ion-col size="6" class="ion-padding">
              <ion-input
                formControlName="secondSchedule"
                label="Segunda jornada:"
                label-placement="floating" fill="outline"
                placeholder="14h:00 - 18h00">
              </ion-input>
            </ion-col>
            
          </ion-row>

          <ion-row class="ion-padding">
            <ion-col size="4"></ion-col>
            <ion-col size="4">

              <ion-button 
                type="submit"
                [disabled]="profeForm.invalid"
                expand="full"
                fill="solid">
                <ion-label>Guardar Docente</ion-label>
              </ion-button>

            </ion-col>
            <ion-col size="4"></ion-col>
          </ion-row>

        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
