#container {
    border: solid 1px;
    border-color: --ion-color-primary;
    border-radius: 10px;

    padding: 10%;
}

ion-grid {
    height: 100%;
}

ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
